In [1]:
d = {"name":"혼자 공부하는 데이터 분석"}
print(d['name'])

혼자 공부하는 데이터 분석

In [2]:
import json

d_str = json.dumps(d, ensure_ascii=False)
print(d_str)
print(type(d_str))

{"name": "혼자 공부하는 데이터 분석"}
<class 'str'>

In [3]:
d2 = json.loads(d_str)
print(d2['name'])
print(type(d2))

혼자 공부하는 데이터 분석
<class 'dict'>

In [4]:
d3 = json.loads('{"name":"혼자 공부하는 데이터 분석", "author":"박혜선", "year":2022}')
print(d3['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박혜선
2022

In [5]:
d3 = json.loads('{"name":"혼자 공부하는 데이터 분석", "author":["박혜선","홍길동"], "year":2022}')
print(d3['author'][1])

홍길동

In [6]:
d4_str = """
[
  {"name":"혼자 공부하는 데이터 분석", "author":"박혜선", "year":2022},
  {"name":"혼자 공부하는 머신러닝+딥러닝", "author":"박혜선", "year":2020}
]
"""
d4 = json.loads(d4_str)
print(d4[0]['name'])

혼자 공부하는 데이터 분석

In [7]:
import pandas as pd
pd.read_json(d4_str)

               name author  year
0    혼자 공부하는 데이터 분석    박혜선  2022
1  혼자 공부하는 머신러닝+딥러닝    박혜선  2020

In [9]:
pd.DataFrame(d4)

               name author  year
0    혼자 공부하는 데이터 분석    박혜선  2022
1  혼자 공부하는 머신러닝+딥러닝    박혜선  2020

In [10]:
x_str = """
<book>
  <name>혼자 공부하는 데이터</name>
  <author>박혜선</author>
  <year>2022</year>
</book>
"""

In [12]:
import xml.etree.ElementTree as et
book = et.fromstring(x_str)
print(type(book))
print(book.tag)

<class 'xml.etree.ElementTree.Element'>
book

In [13]:
book_childs = list(book)
print(book_childs)

[<Element 'name' at 0x7f4c7a7f1220>, <Element 'author' at 0x7f4c7a7f1270>, <Element 'year' at 0x7f4c7a7f12c0>]

In [14]:
name, author, year = book_childs
print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터
박혜선
2022

In [15]:
name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')
print(name)
print(author)
print(year)

혼자 공부하는 데이터
박혜선
2022

In [16]:
x2_str = """
<books>
  <book>
   <name>혼자 공부하는 데이터</name>
    <author>박혜선</author>
    <year>2022</year>
  </book>
   <book>
   <name>혼자 공부하는 머신러닝+딥러닝</name>
    <author>박혜선</author>
    <year>2020</year>
  </book>
</books>
"""

In [17]:
books = et.fromstring(x2_str)
print(books.tag)

books

In [18]:
for book in books.findall('book'):
  name = book.findtext('name')
  author = book.findtext('author')
  year = book.findtext('year')
  print(name)
  print(author)
  print(year)
  print()

혼자 공부하는 데이터
박혜선
2022

혼자 공부하는 머신러닝+딥러닝
박혜선
2020

In [19]:
pd.read_xml(x2_str)

               name author  year
0       혼자 공부하는 데이터    박혜선  2022
1  혼자 공부하는 머신러닝+딥러닝    박혜선  2020

In [ ]:
read_xml